@import './vars';

//# Classes
.font-lighter {
	font-weight: $lighter-weight;
}
.font-light {
	font-weight: $light-weight;
}

.button {
	font-weight: $regular-weight;
	padding: .7rem 1.1rem;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

.button-solid {
	color: white !important;
	background-color: $nexgreen-dark;
}

.button-transparent {
	color: $nexgreen-dark;
	background-color: transparent;
	border: 1px solid $nexgreen-dark;
}

.section-padding {
	padding-top: 130px;
	padding-bottom: 150px;
}

.article-light {
	color: white;
	margin-bottom: 2.5rem;

	.highlight {
		background-color: $highlight;
		padding: 0 10px;
		border-radius: 5px;
	}
	p {
		color: $par-light;
	}
	i {
		color: $nexgreen-dark;
	}
}

.article-dark {
	color: $nexgrey-dark;
	margin-bottom: 2.5rem;

	.highlight {
		color: $nexgreen-dark;
		background-color: $highlight;
		padding: 0 10px;
		border-radius: 5px;
	}
	p {
		color: $par-dark;
	}
	i {
		color: $nexgreen-dark;
	}
}

