@import './vars';

//# Classes
.font-lighter {
	font-weight: $lighter-weight;
}
.font-light {
	font-weight: $light-weight;
}

.text-green {
	color: $nexgreen-dark;
}

.button {
	font-weight: $regular-weight;
	padding: .7rem 1.1rem;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

.button-solid {
	color: #fff !important;
	background-color: $nexgreen-dark;
}

.button-transparent {
	color: $nexgreen-dark;
	background-color: transparent;
	border: 1px solid $nexgreen-dark;
}

.section-padding {
	padding-top: 130px;
	padding-bottom: 150px;
}

.article-light,
.article-dark {
	margin-bottom: 2.5rem;

	.highlight {
		padding: 0 10px;
		border-radius: 5px;
		background-color: $highlight;
	}
	i {
		color: $nexgreen-dark;
	}
}

.article-light {
	color: white;

	p {
		color: $par-light;
	}
}

.article-dark {
	color: $nexgrey-dark;

	.highlight {
		color: $nexgreen-dark;
	}
	p {
		color: $par-dark;
	}

}

.brand-icons {
	display: flex;

	.icon-container {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $highlight;
		height: 35px;
		width: 35px;
		border-radius: 50%;
		margin-right: 5px;
	}
}

.quote {
	background-color: $nexgreen-dark;
	padding: 35px;
	border-radius: 5px;

	p {
		color: $par-light;
		
	&.quote-title {
		font-weight: $heading-4-weight;
		font-size: $heading-4-size;
		margin-bottom: $heading-4-margin-b;
		color: white;
	}
	&.quote-author {
		font-weight: $heading-4-weight;
		font-size: $heading-5-size;
		color: white;
	}
	}
}

.info-par {
	color: $par-light;
	font-weight: $par-weight;
	font-size: $par-size;
}