//# COLORS
//| Design
$nexgreen-dark: #058283;
$nexgreen-light: #00a6a6;
$nexgrey-dark: #21333e;
$nexgrey-darker: #111117;
$highlight: #00a6a628;
$highlight-solid-light: #d7f1f1;
$highlight-solid-dark: #0e282d;
$bg-darker: #111117;
$bg-dark: #21333e;
$bg-light: #eef4ed;
$bg-lighter: #ffffff;

//| Text only
$par-light: #cde0e0;
$par-dark: #606d78;
$header-light: #ffffff;
$header-dark: #21333e;

// #FONT UTILS
//| Generics
$lighter-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 800;

//| Specific
//* h1
$heading-1-weight: 600;
$heading-1-size: 1.2rem;

//* h2
$heading-2-weight: 800;
$heading-2-size: 5rem;

//* h3
$heading-3-weight: 1000;
$heading-3-size: 3rem;
$heading-3-margin-b: 20px;

//* h4
$heading-4-weight: 600;
$heading-4-size: 1.5rem;
$heading-4-margin-b: 20px;

//* h5
$heading-5-weight: 800 !important;
$heading-5-size: 1.2rem;

//* h6
$heading-6-weight: 700;
$heading-6-size: .9rem;
$heading-6-margin-b: 25px;

//* p
$par-weight: 200;
$par-size: 1.1rem;