// #COLORS
// *Design
$main-color-dark: #058283;
$main-color-light: #00a6a6;
$main-bg-dark: #21333e;
$highlight-dark: #0e272d;
$highlight-light: #daeced;

// *Text only
$par-light: #c0c3d0;
$par-dark: #606d78;
$header-light: #ffffff;
$header-dark: #21333e;