// #COLORS
// *Design
$nexgreen-dark: #058283;
$nexgreen-light: #00a6a6;
$nexgrey-dark: #21333e;
$nexgrey-darker: #111117;
$highlight-dark: #0e272d;
$highlight-light: #daeced;

// *Text only
$par-light: #c0c3d0;
$par-dark: #606d78;
$header-light: #ffffff;
$header-dark: #21333e;

// #FONT WEIGHT
$light: 200;